<h1 class="mt-4">Olá adm!</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Aqui está a lista de todos os clientes.</li>
</ol>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{ mensagemSucesso }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{ mensagemErro }}
            </div>
            <!--<div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro }}
            </div>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <button (click)="novoCadastro()" class="btn btn-warning">
                <i class="fa fa-plus-circle"></i>
                Novo cliente
            </button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> NOME </th>
                        <th> CPF </th>
                        <th> DATA CADASTRO </th>
                        <th> AÇÕES </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td> {{ cliente.id }} </td>
                        <td> {{ cliente.nome }} </td>
                        <td> {{ cliente.cpf }} </td>
                        <td> {{ cliente.dataCadastro }} </td>
                        <td>
                            <button class="btn btn-primary" routerLink="/clientes-form/{{cliente.id}}">
                                <i class="fa fa-edit"></i>
                            </button>

                            <button class="btn btn-danger ml-1" data-toggle="modal" (click)="preparaDelecao(cliente)" 
                            data-target="#modalDelecao">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Atenção!</h2>
                </div>
                <div class="modal-body" *ngIf="clienteSelecionado">
                    Deseja deletar o(a) cliente {{ clienteSelecionado.nome }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCliente()" data-dismiss="modal">
                        SIM
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        NÃO
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>